# grumphp.yml
grumphp:
    tasks:
        composer:
            strict: true
        composer_require_checker: ~
        phpcsfixer2:
            allow_risky: true
            config: .php_cs
        phpstan:
            level: 7
            configuration: phpstan.neon
        phpunit:
            metadata:
                priority: 100
            always_execute: true
        clover_coverage:
            clover_file: clover.xml
            level: 16
        composer_script:
            script: psalm
